*{
    box-sizing: border-box;
}

button{
    margin: 50px 450px;
}

.container {
    display: grid;
    margin: auto;
    padding: auto;
    background: rgb(170, 122, 122);
    width: 600px;
    height: 600px;
}
.container div {
    background-color: rgb(156, 156, 156);
    border: 1px solid rgb(0, 0, 0);
}

.random.clicked {
    background-color: aqua;
}