*{
    box-sizing: border-box;
}

button{
    float: right;
    width: 200px;
    height: 100px;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

.container {
    display: grid;
    margin: auto;
    padding: auto;
    background: rgb(170, 122, 122);
    width: 600px;
    height: 600px;
}
.container div {
    background-color: rgb(156, 156, 156);
    border: 1px solid rgb(0, 0, 0);
}

.random.clicked {
    background-color: aqua;
}
